.App-header {
	padding: 100px;
margin-left: 30%;

  background: url('./the-tempest.png') no-repeat;
}

.Google{
  background: url('./btn_google_signin.png') no-repeat;
  height: 50px;
  width:100%;
}

.Facebook{
  background: url('./facebook.png') no-repeat;
  height: 100px;
  width:100%;
}
nav {
	font-weight: bold;
	bottom: 20px;
 background: rgb(8 12 16 / 18%);
}

.navlink {
	/* padding: 0.4rem 0.8rem 0.4rem 0.8rem; */
	border-radius: 3px;
  color: rgb(10, 9, 9);}
  
.navlink:hover {
	background-color: rgb(3, 2, 2);
	color: #050507;
	text-decoration: none !important;
}

.navlink2:hover {
	background-color: rgb(50, 19, 163);
	color: #02040725;
	text-decoration: none !important;
}

textarea {
  background-color: white;
  color: green;
  font-size: .8em;
  font-family: 'Calibri';
  font-weight: bold;
  align-content: flex-end;
  width:100%;
  height:100%; 
  box-sizing: border-box; 
}

#buzzin, #answer {
  width: 100%;
  height: 100%;
}

button {
  font-weight: bold;
  color: rgb(14, 9, 63);
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}

.card-body {
  color: rgba(39, 25, 160, 0.541);
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.dollar-btn {
  background-color: rgb(0,123,255);
}

.square-open {
  background-color: navy;
}

.square-active {
  color: white;
  font-size: 0.8em;
  background-color: navy;
}

.test-1 {
  margin-bottom: 10px;
}

.topic {
  background-color: rgb(20, 36, 184); 
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  font-variant: small-caps;
  color: #AA0000;
}

.only-row-below-board {
}

.whosturn {
  font-weight: bold;
}

.timeleft {
  font-weight: bold;
}

.board-col {
  margin-left: 20px;
}

.MuiToolbar-regular {
  min-height: 64px;
  margin: auto;
  width: 50%;
}

.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}
