.App-header {
	padding: 100px;
margin-left: 25%;

  background: url('./the-tempest.png') no-repeat;
}

.Google{
  background: url('./btn_google_signin.png') no-repeat;
  height: 50px;
  width:100%;
}

.Facebook{
  background: url('./facebook.png') no-repeat;
  height: 100px;
  width:100%;
}
nav {
	font-weight: bold;
	bottom: 20px;
 background: rgb(8 12 16 / 18%);
}

.navlink {
	/* padding: 0.4rem 0.8rem 0.4rem 0.8rem; */
	border-radius: 3px;
  color: rgb(10, 9, 9);}
  
.navlink:hover {
	background-color: rgb(3, 2, 2);
	color: #050507;
	text-decoration: none !important;
}

.navlink2:hover {
	background-color: rgb(50, 19, 163);
	color: #02040725;
	text-decoration: none !important;
}

.MuiToolbar-regular {
  min-height: 64px;
  margin: auto;
  width: 50%;
}

.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}

#landing, #portal {
  font-weight: bold;
  color: gold;
}
.nav{
  padding-left:50px;
}
.a{
  color:rgb(8, 8, 6)
}
.card-title{
  color:rgb(33, 11, 94);
  font-weight: 900;
}
  .card-body{
color:rgb(5, 5, 8);
background-color: rgba(73, 69, 69, 0.993);
}
.card-text{
  color:rgb(243, 243, 247);
}
.card{
  color:rgba(250, 248, 252, 0)
}