.App-header {
	height: 300px;
	padding: 20px;
	color: #222;
	position: relative;
}

.topictempest {
  height: 200px;
  background: url('./topictempest.png') no-repeat;
}

nav {
	list-style: none;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
}

.navlink {
	padding: 0.4rem 0.8rem;
	border-radius: 3px;
  color: white;
	margin-right: 20px;
}

.navlink:hover {
	background-color: white;
	color: #28547a;
	text-decoration: none !important;
}

textarea {
  background-color: white;
  color: green;
  font-size: .8em;
  font-family: 'Calibri';
  font-weight: bold;
  align-content: flex-end;
  width:100%;
  height:100%; 
  box-sizing: border-box; 
  /* margin-left: 20px; */
}

#buzzin, #answer {
  width: 100%;
  height: 100%;
}

button {
  font-weight: bold;
  color: gold;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}

.card-body {
  color: gold;
  font-weight: bold;
  background-color: navy;
  width: 100%;
  height: 100%;
}

.test-1 {
  margin-bottom: 10px;
}

.topic-col {
}

.only-row-below-board {
}

.whosturn {
  font-weight: bold;
}

.timeleft {
  font-weight: bold;
}

.board-col {
  margin-left: 20px;
}

.host-guidance {
  border: 1px solid purple;
}

.your-answer-row {
  border: 1px solid purple;
}

.your-answer-col {
  border: 1px solid green;
}

.square-used {
  width: 100%;
  height: 100%;
  background-color: red;
}

.table {
  background-color: white;
}

.table thead {
  color: white;
  background-color: navy;
}
